.component-card-feature-icon .card__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.component-card-feature-icon .card__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
}

.component-card-feature-icon .card__content .card__title{
    font-weight: 600;
    font-size: 18px;
}


/* for <a> tag */
.component-card-feature-icon a{
    text-decoration: none;
}
/* exepet for link button */
.component-card-feature-icon .card__link{
    text-decoration: underline;
}
