.component-card-price-list .card__container>.card__content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.component-card-price-list .card__container>.card__content .card__link{
    text-align: end;
}


/* Molecules */
.component-card-price-list .component-molecule-price-list .card__content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px 0px;
    border-bottom: 1px solid #727171;
}

.component-card-price-list .component-molecule-price-list .card__content .card__title{
   font-size: 18px;
   border-right: 1px solid #727171;
   padding-right: 10px;
}

.component-card-price-list .component-molecule-price-list .card__content .card__text{
    text-align: center;
}